:root {
    --popup-window-width: 500px;
    --popup-window-height: 400px;
    --popup-top-bar-height: 40px;
}
.popup-window {
    background-color: var(--primary-colour);
    width: var(--popup-window-width);
    height: var(--popup-window-height);
    position: fixed;
    right: calc(50% - var(--popup-window-width)/2);
    top: calc(50% - var(--popup-window-height)/2);
    display:none;    
    border-radius: 2px;
    padding: 10px 20px;
    overflow: auto;
}

.popup-top-bar {
    height: var(--popup-top-bar-height);
    line-height: var(--popup-top-bar-height);
    text-align: right;
    user-select: none;
}

.popup-top-bar div {
    float: right;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    cursor: pointer;
    display: block;
}
.popup-top-bar div:hover{
    color: var(--text-hover);
}

